@page
@model Interactive_CV.Pages.AboutModel
@{
}

<div class="text-center">
    <h1>Who am I?</h1>
    <div class="accordion-flush" id="whoamiAcc">
        <div class="accordion-item border-info" id="headerPersonal">
            <div class="accordion-header">
                <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="true" aria-controls="collapsePersonal">
                    <h2 class="d-inline">Personal</h2>
                    <i class="fas fa-chevron-down d-inline"></i>
                </button>
            </div>
        </div>
        <div id="collapsePersonal" class="collapse show" aria-labelledby="#headerPersonal" data-parent="#whoamiAcc">
            <div class="accordion-body">
                On a personal level I am an introverted, almost 30-year-old, with a small, close-knit group of friends
                and a love for learning and travelling. My hobbies include reading, playing video games, solving puzzles
                and being creative.  I am the youngest or second youngest (biologically and non-biologically) of the family.
                I was born in Pretoria and spend the first 5 years of my life living in Rooihuiskraal, after which we moved to
                small town Brits.  I completed my primary education at Generaal Hendrik Schoeman primary school and my high
                school education at Brits High School.
                Through out my live my mother has been a great source of inspiration and she has taught me <a href="#">values</a> to live by
                that will help me throughout my live.
            </div>
        </div>
        <div class="accordion-item border-info" id="headerCareer">
            <div class="accordion-header">
                <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapseCareer" aria-expanded="true" aria-controls="collapseCareer">
                    <h2 class="d-inline">Career</h2>
                    <i class="fas fa-chevron-down d-inline"></i>
                </button>
            </div>
            <div id="collapseCareer" class="collapse" aria-labelledby="#headerCareer" data-parent="#whoamiAcc">
                <div class="accordion-body">
                    I am currently at the beginning of what I consider my career marathon. During this marathon, a few wrong turns
                    and tumbles were taken, but my path has been righted and I learned valuable <a href="#">lessons</a> from my mistakes that will
                    most definitely help me in my future career path.
                    In short, I am a hard working and diligent person who has valuable life experience that will assist me in
                    achieving all set forth goals and expectations.
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <h1>Education</h1>
    <div class="accordion-flush" id="educationAcc">
        <div class="accordion-item border-info" id="headerHighSchool">
            <div class="accordion-header">
                <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapseHighSchool" aria-expanded="true" aria-controls="collapseHighSchool">
                    <h2 class="d-inline">High School Education</h2>
                    <i class="fas fa-chevron-down d-inline"></i>
                </button>
            </div>
        </div>
        <div id="collapseHighSchool" class="collapse" aria-labelledby="#headerHighSchool" data-parent="#educationAcc">
            <div class="accordion-body">
                <div class="row d-inline">
                    <h5 class="d-inline">Name of School:</h5>
                    Brits High School
                </div><br />
                <div class="row d-inline">
                    <h5 class="d-inline">Highest Grade:</h5>
                    Grade 12
                </div><br />
                <div class="row d-inline">
                    <h5 class="d-inline">Year Matriculated:</h5>
                    2010
                </div><br />
                <div class="row">
                    <h5>Subjects:</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i data-bs-toggle="tooltip" data-bs-placement="right" title="76%">Afrikaans Home Language</i><br />
                            <i data-bs-toggle="tooltip" data-bs-placement="right" title="80%">English 1st Additional Language</i><br />
                            <i data-bs-toggle="tooltip" data-bs-placement="right" title="71%">Mathematics</i><br />
                            <i data-bs-toggle="tooltip" data-bs-placement="right" title="86%">Life Orientation</i><br />
                            <i data-bs-toggle="tooltip" data-bs-placement="right" title="78%">Business Studies</i><br />
                            <i data-bs-toggle="tooltip" data-bs-placement="right" title="80%">Accounting</i><br />
                            <i data-bs-toggle="tooltip" data-bs-placement="right" title="80%">Information Technology</i><br />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item border-info" id="headerUndergraduate">
            <div class="accordion-header">
                <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapseUndergraduate" aria-expanded="true" aria-controls="collapseUndergraduate">
                    <h2 class="d-inline">Undergraduate Studies</h2>
                    <i class="fas fa-chevron-down d-inline"></i>
                </button>
            </div>
        </div>
        <div id="collapseUndergraduate" class="collapse" aria-labelledby="#headerUndergraduate" data-parent="#educationAcc">
            <div class="accordion-body">
                <div class="accordion-flush" id="degreesAcc">
                    <div class="accordion-item" id="headerDegreeOne">
                        <div class="accordion-header">
                            <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapseDegreeOne" aria-expanded="true" aria-controls="collapseDegreeOne">
                                <h3 class="d-inline">BSc Information Technology</h3>
                                <i class="fas fa-chevron-down d-inline"></i>
                            </button>
                        </div>
                    </div>
                    <div id="collapseDegreeOne" class="collapse" aria-labelledby="#headerDegreeOne" data-parent="#degreesAcc">
                        <div class="accordion-body">
                            <div class="row d-inline">
                                <h5 class="d-inline">Institute:</h5>
                                North-West University
                            </div><br />
                            <div class="row d-inline">
                                <h5 class="d-inline">Year of Completion:</h5>
                                2021
                            </div><br />
                        </div>
                    </div>
                    <div class="accordion-item" id="headerDegreeTwo">
                        <div class="accordion-header">
                            <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapseDegreeTwo" aria-expanded="true" aria-controls="collapseDegreeTwo">
                                <h3 class="d-inline">BEd Early Childhood Development and Foundation Phase</h3>
                                <i class="fas fa-chevron-down d-inline"></i>
                            </button> 
                        </div>
                    </div>
                    <div id="collapseDegreeTwo" class="collapse" aria-labelledby="#headerDegreeTwo" data-parent="#degreesAcc">
                        <div class="accordion-body">
                            <div class="row d-inline">
                                <h5 class="d-inline">Institute:</h5>
                                University of Pretoria
                            </div><br />
                            <div class="row d-inline">
                                <h5 class="d-inline">Year of Completion:</h5>
                                2015
                            </div><br />
                            <div class="row d-inline">
                                <h5 class="d-inline">Main Subject:</h5>
                                Learning Difficulties
                            </div><br />
                            <div class="row d-inline">
                                <h5 class="d-inline">Additional Subjects:</h5>
                                <ul class="list-unstyled">
                                    <li>Psychology</li>
                                    <li>Criminology</li>
                                </ul>
                            </div>
                            <div class="row d-inline">
                                <h5 class="d-inline">SACE Registration:</h5>
                                12407178
                            </div><br />
                        </div>
                    </div>
                </div>
                <br />
                <div class="card border-info" style="max-width:80em">
                    <div class="card-header">
                        <h3 class="card-title">Achievements</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>2019 - International Grant for Academic Performance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item border-info" id="headerPostGrad">
            <div class="accordion-header">
                <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapsePostGrad" aria-expanded="true" aria-controls="collapsePostGrad">
                    <h2 class="d-inline">Post Graduate Studies</h2>
                    <i class="fas fa-chevron-down d-inline"></i>
                </button>
            </div>
        </div>
        <div id="collapsePostGrad" class="collapse" aria-labelledby="#headerPostGrad" data-parent="#educationAcc">
            <div class="accordion-body">
                <div class="accordion-flush" id="postOneAcc">
                    <div class="accordion-item" id="headerPostOne">
                        <div class="accordion-header">
                            <button class="btn btn-link list-unstyled" type="button" data-toggle="collapse" data-target="#collapsePostOne" aria-expanded="true" aria-controls="collapsePostOne">
                                <h3 class="d-inline">BEd Honours Learning Difficulties</h3>
                                <i class="fas fa-chevron-down d-inline"></i>
                            </button>  
                        </div>
                    </div>
                    <div id="collapsePostOne" class="collapse" aria-labelledby="#headerPostOne" data-parent="#postOneAcc">
                        <div class="accordion-body">
                            <div class="row d-inline">
                                <h5 class="d-inline">Institute:</h5>
                                University of Pretoria
                            </div><br />
                            <div class="row d-inline">
                                <h5 class="d-inline">Year of Completion:</h5>
                                2018
                            </div><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
