@page
@model Interactive_CV.Pages.PortfolioModel
@{
}


<div class="text-center mt-4">
    <h1>Programming Languages</h1>
    <div class="mt-2">
        <span class="badge rounded-pill bg-primary">C#</span>
        <span class="badge rounded-pill bg-secondary">C++</span>
        <span class="badge rounded-pill bg-success">SQL</span>
        <span class="badge rounded-pill bg-danger">Java</span>
        <span class="badge rounded-pill bg-warning">HTML</span>
        <span class="badge rounded-pill bg-info">CSS</span>
        <span class="badge rounded-pill bg-dark">Python</span>
    </div>  
</div>

<div class="text-center mt-4">
    <h1>Frameworks</h1>
    <div class="mt-2">
        <span class="badge rounded-pill bg-primary">ASP.NET</span>
        <span class="badge rounded-pill bg-secondary">Bootstrap</span>
        <span class="badge rounded-pill bg-success">Spring Boot</span>
        <span class="badge rounded-pill bg-danger">Razor</span>
    </div>
</div>

<div class="text-center mt-2">
    <h1>Projects</h1>
    <div class="card border-info mb-3">
        <h2>Hey!Taxi</h2>
        <div class="card-body">
            <p class="card-text">Hey!Taxi is a free website where taxi drivers and passengers meet.  
            On this website they have the freedom to schedule a taxi at any time of the day, without any cover charge from Hey!Taxi.  
            Drivers have complete control over their schedules and passengers can always be assured that they will have a ride when they need one.
            It is the easy way to catch a ride.</p>
        </div>
        <div class="mb-2">
            <span class="badge rounded-pill bg-primary">C#</span>
            <span class="badge rounded-pill bg-success">SQL</span>
            <span class="badge rounded-pill bg-info">CSS</span>
            <span class="badge rounded-pill bg-warning">HTML</span>
            <span class="badge rounded-pill bg-primary">ASP.NET</span>
        </div>
    </div>
    <div class="card border-info mb-3">
        <h2>Fine Wines - Group Project</h2>
        <div class="card-body">
            <p class="card-text">
                Timothy Fine has taken over the running of his family’s vineyard in 2013. Mr. Fine decided to register the vineyard
                under the trading name Fine Wine Distributors (Pty Ltd.) Fine Wines vineyard is an expanding farm that grows both white and red grapes.
                Once harvested, these grapes are used to produce increasingly popular wines. Fine Wines has started to export a limited number of wines 
                to Europe and Asia in 2017. With the wine’s growing brand and popularity, the company requires a system that can aid the company’s 
                growing progress.  <br />
                To accommodate the company''s growth our development group was contacted to create a custom information system that is web based
                for internal and external requirements.
            </p>
        </div>
        <div class="mb-2">
            <span class="badge rounded-pill bg-primary">C#</span>
            <span class="badge rounded-pill bg-success">SQL</span>
            <span class="badge rounded-pill bg-info">CSS</span>
            <span class="badge rounded-pill bg-warning">HTML</span>
            <span class="badge rounded-pill bg-primary">ASP.NET</span>
        </div>
    </div>
    <div class="card border-info mb-3">
        <h2>Fire Damage Assessment System Database</h2>
        <div class="card-body">
            <p class="card-text">This project focused on creating a database that could be used to track building damage caused by bushfires.</p>
        </div>
        <div class="mb-2">
            <span class="badge rounded-pill bg-success">SQL</span>
        </div>
    </div>
    <div class="card border-info mb-3">
        <h2>Generic Search</h2>
        <div class="card-body">
            <p class="card-text">A project to demonstrate ability to analyse, design and code any method for a generic linked list class. 
            One requirement was that the project manipulates the linked list.</p>
        </div>
        <div class="mb-2">
            <span class="badge rounded-pill bg-danger">Java</span>
        </div>
    </div>
</div>
